@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(135deg, #5c40c2, #a29bfe);
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    p {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 8px;

    }

    input {
        width: 100%;
        height: 50px;
        border: 1px solid #393939;
        outline: 0;
        padding: 10px;
        margin: 10px 0 20px;
        border-radius: 8px;
    }

    #imgBox {
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;

        img{
            width: 100%;
            padding: 10px;
        }
    }

    button {
        width: 100%;
        height: 50px;
        background: #004ade;
        color: #fff;
        border: 0;
        outline: 0;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        margin: 20px 0;
        font-weight: 500;
        transition: all 0.2s;

        &:hover {
            background: #0044ad;
            transform: translateY(-2px);
        }
    }
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}